{:paths ["." "bb"]
 :deps {org.clj-commons/clj-http-lite {:local/root "."}}
 :tasks
 {:requires ([tasks :as t]
             [babashka.cli :as cli]
             [clojure.set :as cset])
  deps
  {:doc "Bring down all the clojure deps"
   :task (t/deps)}
  clean
  {:doc "Delete any work dirs"
   :task (clojure "-T:build clean")}
  test:bb
  {:doc "Run babashka tests"
   :task clj-http.lite.test-runner/-main}
  publish
  {:doc "Trigger a release to clojars"
   :task (t/publish)}}}
