{:paths ["." "bb"]
 :deps {org.clj-commons/clj-http-lite {:local/root "."}
        lread/status-line {:git/url "https://github.com/lread/status-line.git"
                           :sha "35ed39645038e81b42cb15ed6753b8462e60a06d"}}
 :tasks
 {:requires ([tasks :as t])
  deps
  {:doc "Bring down all the clojure deps"
   :task (t/deps)}
  clean
  {:doc "Delete any work dirs"
   :task (clojure "-T:build clean")}
  test:bb
  {:doc "Run babashka tests"
   :task clj-http.lite.test-runner/-main}
  lint
  {:doc "[--rebuild] Lint source code"
   :task lint/-main}
  publish
  {:doc "Trigger a release to clojars"
   :task (t/publish)}}}
