{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.10.0"}}
 :aliases
 {:build
  {:deps {io.github.clojure/tools.build {:git/tag "v0.6.6" :git/sha "4d41c26"}
          slipset/deps-deploy {:mvn/version "0.2.0"}}
   :ns-default build}}}
